body {
  margin: 0;
  background-color:tan;
  font-family:monospace;
  font-size:18px;
}

h2 {
  margin: 0;
}

#game {
  position:absolute;
  display:flex;
  top:30px;
  left:10%;
  width:80%;
}

#score_card_box {
  flex-grow: 1;
  height:100%;
  width:100%;
}

#instruction_box {
  top: 660px;
  left: 10%;
  width: 80%;
  position:absolute;
  display:grid;
  grid-template-columns: 5fr 1fr;
  text-align: center;
}

.score_card_row {
  position:relative;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width:100%;
  height:100%;
  text-align: center;
}

.score_card_tenth_row {
  position:relative;
  display:grid;
  grid-template-columns: 15fr 10fr 10fr 10fr 15fr 15fr;
  width:100%;
  height:100%;
  text-align: center;
}

.score_card_tenth_row > div {
  border-style: solid;
  border-width: thin;
  border-color: black;
  background-color: #F2F2F2;
  height:54px;
}

.score_card_row > div {
  border-style: solid;
  border-width: thin;
  border-color: black;
  background-color: #F2F2F2;
  height:54px;
}

#new_game {
  font-family: monospace;
  font-size: 22px;
  background-color:black;
  color:white;
  height: 34px;
  width: 150px;
}
